<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

      	  <p class="centered"><a href="musician/profile"><img src="assets/images/musician/JJG.jpg" class="img-circle" width="60"></a></p>
      	  <h5 class="centered">정진교</h5>

          <li class="mt">
              <a class="active" href="musician">
                  <i class="fa fa-dashboard"></i>
                  <span>채널 홈</span>
              </a>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-desktop"></i>
                  <span>음악 관리</span>
              </a>
              <ul class="sub">
                  <li><a href="blank">음원 제작하기</a></li>
                  <li><a href="blank">콜라보 제작(하위항목)</a></li>
                  <li><a href="blank">음원 배포하기</a></li>
                  <li><a href="mysongs">출시 음원관리</a></li>
                  <!--<li><a  href="panels">Panels</a></li>-->
              </ul>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-book"></i>
                  <span>업무 관리</span>
              </a>
              <ul class="sub">
                  <li><a href="calendar">일정 관리</a></li>
                  <li><a href="todo_list">업무 리스트</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-cogs"></i>
                  <span>채널 관리</span>
              </a>
              <ul class="sub">
                  <li><a  href="blank">채널 설정</a></li>
                  <li><a  href="blank">채널 방송국</a></li>
                  <li><a  href="blank">채널 갤러리</a></li>
                  <li><a  href="members">채널 멤버관리</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class=" fa fa-bar-chart-o"></i>
                  <span>채널 분석</span>
              </a>
              <ul class="sub">
                  <li><a  href="blank">채널 유입경로</a></li>
                  <li><a  href="blank">채널 통계</a></li>
              </ul>
          </li>

          <!--<li class="sub-menu">-->
          <!--    <a href="javascript:;" >-->
          <!--        <i class="fa fa-tasks"></i>-->
          <!--        <span>Forms</span>-->
          <!--    </a>-->
          <!--    <ul class="sub">-->
          <!--        <li><a  href="form_component">Form Components</a></li>-->
          <!--    </ul>-->
          <!--</li>-->
          <!--<li class="sub-menu">-->
          <!--    <a href="javascript:;" >-->
          <!--        <i class="fa fa-th"></i>-->
          <!--        <span>Data Tables</span>-->
          <!--    </a>-->
          <!--    <ul class="sub">-->
          <!--        <li><a  href="basic_table">Basic Table</a></li>-->
          <!--        <li><a  href="responsive_table">Responsive Table</a></li>-->
          <!--    </ul>-->
          <!--</li>-->


      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->
