<!DOCTYPE html>
  <html>
  <footer id="footer">
    <!-- /.javascript files -->
    <script src="assets/javascripts/home/jquery.js"></script>
    <script src="assets/javascripts/home/bootstrap.min.js"></script>
    <script src="assets/javascripts/home/jquery.downCount.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJ08ftKoeJo_IuXwTlRozICJNtNczM-M"></script>
    <script src="assets/javascripts/home/gmap.js"></script>
    <script src="assets/javascripts/home/twit.js"></script>
    <script src="assets/javascripts/home/wow.min.js"></script>


    <script src="assets/javascripts/home/jquery.backstretch.min.js"></script>


    <script src="assets/javascripts/home/custom.js"></script>



    <script>
          $( ".slideshow" ).backstretch( [
              "assets/images/home/BG3.jpg",
              "assets/images/home/BG2.jpg",
              "assets/images/home/BG4.jpg",
              "assets/images/home/BG5.jpg",
              "assets/images/home/BG1.jpg"
          ], {
              fade: 750,
              duration: 5000
          } );
    </script>

    <div class="container">
        <!--<div class="col-sm-4 col-sm-offset-4 text-center">-->
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <a href="#top"><i class="fa fa-arrow-up scroll-top text-center"></i></a>
            </br>
            <p>Copyrightⓒ2017 By <a href="https://bootstraptest-jin-gyo-jung.c9users.io/" target="_blank">DYM GAMES</a> All rights reserved.</p>
        </div>
    </div>
  </footer>
</html>
